/*monolithTemplate*/
@media(max-width:800px){
  div {
    display:block;
  }
}
.thumbnail{
  margin:0px;
  width:50px;
  height:50px;
  display:inline-block;
  background-size:contain;
  background-repeat:no-repeat;
  background-position:center center;
}
#bg{
  position:fixed;
  top:0;
  left:0;
  /* Preserve aspet ratio */
  opacity:.2;
  width:100vw;
  height:100vh;
  background:url("monolith2") no-repeat center/cover;
  z-index:-1;
}
#bg0{
  position:fixed;
  top:0;
  left:0;
  /* Preserve aspet ratio */
  opacity:.1;
  width:100vw; !important;
  height:100vh; !important;
  background:url("mouse.js") no-repeat center/cover;
  z-index:-1;
}
#bg1{
  position:fixed;
  top:0;
  left:0;
  /* Preserve aspet ratio */
  opacity:.2;
  width:100vw;
  height:100vh;
  background:url("search.jpg") no-repeat center/cover;
  z-index:-1;
}
#bg2{
  position:fixed;
  top:0;
  left:0;
  /* Preserve aspet ratio */
  opacity:.2;
  width:100vw;
  height:100vh;
  background:url("go.jpg") no-repeat center/cover;
  z-index:-1;
}
#bg3{
  position:fixed;
  top:0;
  left:0;
  /* Preserve aspet ratio */
  opacity:.2;
  width:100vw;
  height:100vh;
  background:url("do.jpg") no-repeat center/cover;
  z-index:-1;
}
#bg4{
  position:fixed;
  top:0;
  left:0;
  /* Preserve aspet ratio */
  opacity:.2;
  width:100vw;
  height:100vh;
  background:url("post.jpg") no-repeat center/cover;
  z-index:-1;
}
/*.container{
  width:windowWidth;
  height:windowHeight;
  text-align:center;
  position:relative;
  z-index:1;
}
.container:after{
  width:windowWidth;
  height:windowHeight;
  content:"Monolith for Leuphana";
  background:url("monolith2.jpg");
  position:absolute;
  top:0;
  left:0;
  z-index:-1;
  opacity:0.5;
}*/
body{
  margin:8px;
    }
.active{
  color:cornflowerblue;
}
#monolith{
  color:cornflowerblue;
}
#text{
  margin:10px;  
}
.thumbnail{
  border-radius:5px;
}
.saw{
  color:gray;
}
.btn{
  font-size:1rem;
  color:white;
  padding:5px 10px 5px 10px;
  margin:3px;
  display:inline-block;
  border-radius:10px;
  transition:all 0.1s;
  text-shadow:0px -2px rgba(0, 0, 0, 0.2);
  font-family:"Amatic SC", cursive;
  float:right;
}
.btn:active{
  transform:translateY(3px);
}
.btn.cornflowerblue{
  background-color:cornflowerblue;
  border-bottom:5px solid gray;
}
.btn.cornflowerblue:active{
  border-bottom:2px solid gray;
}
.btn.powderblue{
  background-color:powderblue;
  border-bottom:5px solid gray;
}
.btn.powderblue:active{
  border-bottom:2px solid gray;
}
.btn.gray{
  background-color:gray;
  border-bottom:5px solid black;
  float:right;
}
.btn.gray:active{
  border-bottom:2px solid black;
}
a{
  color:black;
  text-decoration:none;
}
h1{
  font-size:45px;
  text-align:center;
  margin:0;
  padding:0;
}
h2{
  font-size:25px;
  font-weight:normal;
  color:gray;
  text-align:center;
  margin:0;
  padding:5px;
  border-bottom:1px solid cornflowerblue;
}
/*ul{
  border-right:1px solid cornflowerblue;
  width:250px;
  margin:0;
  padding-right:15px;
}
ol{
  border-right:1px solid cornflowerblue;
  padding-right:15px;
}*/
#grid{
  display:grid;
  grid-template-columns:150px 1fr;
}
#grid ol{
  padding-left:33px;
}
#grid #article{
  padding-left:45px;
}
.dropmenu{
border:none;
border:1px;
margin:1px;
padding:1px;
font-family:"Amatic SC", cursive;
font-size:20px;
width:1064px;
}
.dropmenu ul{
background:rgba(255, 255, 255, .3);
height:50px;
list-style:none;
margin:0;
padding:0;
}
.dropmenu li{
float:left;
padding:0px;
}
.dropmenu li a{
background:cornflowerblue;
color:#fff;
display:block;
line-height:50px;
margin:0px;
padding:0px 105px 0px 104.5px;
text-align:center;
text-decoration:none;
}
.dropmenu li a:hover, .dropmenu ul li:hover a{
background:rgba(31, 31, 31, .5);
color:#FFFFFF;
text-decoration:none;
}
.dropmenu li ul{
background:powderblue;
display:none;
height:auto;
border:0px;
position:absolute;
width:250px;
z-index:200;
/*top:1em;
/*left:0;*/
}
.dropmenu li:hover ul{
display:block;
}
.dropmenu li li {
background:powderblue;
display:block;
float:none;
margin:0px;
padding:0px;
/*width:270px;*/
}
.dropmenu li:hover li a{
background:none;
}
.dropmenu li ul a{
display:block;
height:50px;
font-size:18px;
margin:0px;
padding:0px 0px 0px 10px;
text-align:left;
}
.dropmenu li ul a:hover, .dropmenu li ul li:hover a{
background:rgba(171, 171, 171, .3);
border:0px;
color:gray;
text-decoration:none;
}
.dropmenu p{
clear:left;
}
.blackboard:before{
  content:'\e803';
  font-family:fontello;
}
.tree, .tree ul{
  list-style:none;
  padding-left:30px;
}
.tree *:before{
  width:15px;
  height:15px;
  display:inline-block;
}
.tree *:after{
  width:15px;
  height:15px;
  display:inline-block;
}
.tree label{
  cursor:pointer;
}
.tree label:before{
  content:'\e801';
  font-family:fontello;
}
.tree a:after{
  content:'\f08e';
  font-family:fontello;
}
.tree input[type="checkbox"]{
  display:none;
}
.tree input[type="checkbox"]:checked~ul{
  display:none;
}
.tree input[type="checkbox"]:checked+label:before{
  content:'\e802';
  font-family:fontello;
}
/*MasonryColumnIn3.html*/
#columns{
  column-count:4;
/*column-width: 350px;*/
  column-gap:15px;
}
#columns figure{
  display:inline-block;
  border:1px solid rgba(0, 0, 0, 1);
  margin:0;
  margin-bottom:15px;
  padding:10px;
  box-shadow:2px 2px 5px rgba(0, 0, 0, 1);
}
#columns figure img{
  width:100%;
}
#columns figure figcaption{
  border-top:1px solid rgba(0, 0, 0, 1);
  padding:10px;
  margin-top:11px;
}
/*masonryColumnIn3.html* Ends/
/*monolithTemplate* Ends/
